<div
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutGap="1%"
  fxLayoutAlign="center center"
>
  <mat-card class="mat-elevation-z8" fxFlex="60%">
    <mat-card-header>
      <mat-card-title>Chatbees Admin Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="login()">
        <div>
          <h4>{{ errorMessage }}</h4>
          <mat-form-field>
            <span matPrefix><mat-icon>person</mat-icon></span>
            <input matInput placeholder="Please enter your email" />
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </mat-card-actions>
  </mat-card>
</div>
