<div
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutGap="1%"
  fxLayoutAlign="center center"
  style="padding-top: 20%;"
>
  <mat-card class="mat-elevation-z8" fxFlex="60%" fxFlexAlign="center">
    <mat-card-header>
      <mat-card-title>Chatbees Admin Login</mat-card-title>
    </mat-card-header>
    <form (ngSubmit)="login()">
      <mat-card-content>
        <div>
          <h4>{{ errorMessage }}</h4>
          <mat-form-field class="full-width">
            <span matPrefix><mat-icon>person</mat-icon></span>
            <input
              matInput
              placeholder="Email"
              [(ngModel)]="email"
              name="password"
              type="email"
            />
          </mat-form-field>

          <mat-form-field class="full-width">
            <span matPrefix><mat-icon>lock</mat-icon></span>
            <input
              matInput
              placeholder="Password"
              type="password"
              [(ngModel)]="password"
              name="password"
            />
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Login</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
